<div class="submission" (click)="toggleSubmission($event)">
	<p class="comment">Submission comment</p>
	<div class="img-div">
		<img src="" alt="" />
	</div>
	<div class="vote-div">
		<i class="far fa-thumbs-up"></i>
		<span class="vote-counts">Up-Vote count</span>
		<i class="far fa-thumbs-down"></i>
		<span class="vote-counts">Down-vote count</span>
	</div>
	
</div>

<div class="submission expanded" (click)="toggleSubmission($event)">
	<p class="comment">Submission comment</p>
	<div class="img-div">
		<img src="" alt="" />
	</div>
	<div class="vote-div">
		<i class="far fa-thumbs-up"></i>
		<span class="vote-counts">Up-Vote count</span>
		<i class="far fa-thumbs-down"></i>
		<span class="vote-counts">Down-vote count</span>
	</div>
	
</div>
